# Build
build/
cmake-build-*/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# vcpkg
vcpkg_installed/
vcpkg-manifest-install.log

# Cache
_fetch_content/
.cache/
.local/
__pycache__/
.so
*.so
start.sh
