# Build
build/
cmake-build-*/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# vcpkg
vcpkg_installed/
vcpkg-manifest-install.log

# Cache
_fetch_content/
.cache/
.local/
__pycache__/
.so
*.so
start.sh

# 临时测试产物
calculator
calculator.cpp
calculator.cpp.bak
greeting_program
greeting_program.cpp
greeting_program.cpp.bak
guess_number_game
guess_number_game.cpp
guess_number_game.cpp.bak
scripts/demo.tape
